.Input {
    position: relative;
    padding: 2px;
    width: 350px;
}

.Label {
    text-align: left;
    clear: left; 
    width: 120px;
    display: block;
}

.Label, .Input {
    color: black;
    float: left;
}