.Main {
    width: 100%;
    position: absolute;
    top: 80px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

.new-issue-form {
    margin-top: 50px;
}

.issue-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.issue-form>div {
    margin: 8px;
}

.new-project-form {
    margin-top: 50px;
}

.project-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-form>div {
    margin: 8px;
}