.Header {
    padding: 0 3% 0 3%;
    text-align: left;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.HeaderDark {
    background-color: rgba(168, 168, 168, 0.4);
}

.HeaderLight {
    background-color: rgba(168, 168, 168, 0.1);
}
