.Footer {
    padding: 0;
    margin: 0;
    position: absolute; 
    left: 0 ; 
    right: 0; 
    bottom: 0; 
}

.FooterDarkMode {
    background-color: rgba(168, 168, 168, 0.4);
}

.FooterLightMode {
    background-color: rgba(168, 168, 168, 0.1);
}

footer > label {
    padding: 10px;
    margin: 0;
    position: relative;
    float: right;
    right: 20px;
}
